iframe{
	width: 100%;
	height: 400px;
}

.info{
	display: flex;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color:#4d5c66;
	font-family: 'Calibri';
}
.first_info{
	width: 50%;
	padding: 40px 70px;
}

.second_info{
	width: 50%;
	padding: 40px 70px;

}

.location{
	margin-bottom: 100px;
}

.loc_info,.fax_info,.phone_info,.email_info{
	margin-top: 20px;
}

.fax{

}

.phone{
	margin-bottom: 100px;
}



.email{

}


.location span,.fax span,.phone span,.email span{
	text-transform: uppercase;
	font-weight: 600;
	color: #3D4C56;
}

@media(max-width: 650px){
	.first_info{
		padding: 0;
	}
	.second_info{
		padding: 0;

	}
}