.menu{
	position: absolute;
	z-index: 150;
	text-align: center;
	background-color: rgba(95,95,95,0.4);
	width: 30%;
	left:0px;
	top:0px;
	display: block;
	transition-duration: 0.5s;
}

.point{
	font-size: 2.5em;
	color:white;
	padding: 20px 0;
	height: 100px;
	margin-top: 40px;
}

.menu a:first-child .point{
	margin-top: 40px;
}

.point_disable{
	display: none;
}

.menu_disable{
	position: absolute;
	z-index: 150;
	text-align: center;
	background-color: rgba(95,95,95,0.4);
	width: 0px;
	height: 0px;
	left:0px;
	top:0px;
	display: block;
	transition-duration: 0.5s;
}

a{
	text-decoration: none;
}

.point:hover{
	color:#dfc368;
	font-size:2.6em;
	transition: 0.2s;
}

@media(max-width: 650px){
	.point{
		margin-top: 0;
	}
}