.conteiner{
	width: 850px;
	margin: 0 auto;
}

.post{
	display: flex;
	color: #4d5c66;
	margin-bottom: 70px;
}
.post_photo{
	width: 50%;
}

.post_photo img{
	width: 100%;
	height: auto;
}
.post_info{
	padding: 40px;
	width: 50%;
}
.post_data{
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 400;
}
.post_name{
	padding:25px 0 40px 0; 
	font-family: 'Rubik';
	font-size: 2em;
}

.post_text{
	font-size: 1.3em;
	margin-bottom: 2em;
}

.post_button button{
	padding: 10px 40px;
	background-color: white;
	border:2px solid #4d5c66;
	border-radius: 1em;
	font-family:'Rubik';
	font-weight: 600;
	font-size: 1em;
	cursor: pointer;
}

.more_button{
	width: 100%;
	text-align: center;
	margin-bottom: 120px;
}

.more_button button{
	padding: 10px 40px;
	background-color: white;
	border:2px solid #4d5c66;
	border-radius: 1em;
	font-family:'Rubik';
	font-weight: 600;
	font-size: 1em;
	cursor: pointer;
}