@font-face {
font-family: 'Open Sans Light';
    
    src:    url('https://nomail.com.ua/files/eot/1bf71be111189e76987a4bb9b3115cb7.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/1bf71be111189e76987a4bb9b3115cb7.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/1bf71be111189e76987a4bb9b3115cb7.woff2') format('woff2');
}

@font-face {
font-family: 'Open Sans Light Italic';
    
    src:    url('https://nomail.com.ua/files/eot/6943fb6fd4200f3d073469325c6acdc9.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/6943fb6fd4200f3d073469325c6acdc9.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/6943fb6fd4200f3d073469325c6acdc9.woff2') format('woff2');
}

@font-face {
font-family: 'Open Sans Semibold';
    
    src:    url('https://nomail.com.ua/files/eot/33f225b8f5f7d6b34a0926f58f96c1e9.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/33f225b8f5f7d6b34a0926f58f96c1e9.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/33f225b8f5f7d6b34a0926f58f96c1e9.woff2') format('woff2');
}