.post{
	background-color: white;
	padding: 35px;
	margin-bottom: 40px;
}

.img{
	width: 100%;
}

.img img{
	width: 100%;
	height: auto;
}

.topic{
	font-size: 2em;
	font-family: 'Open Sans';
	margin: 20px 0;
}

.date{
	color:#dfc368;
	text-transform: uppercase;
	font-family: 'Rubik';
}

.text{
	color: #4d5c66;
	font-family: 'Open Sans';
	margin: 30px 0;
}

.more_button{
	text-align: left;
}

.post:last-child{
	margin-bottom: 0;
}