.people{
	margin-bottom: 120px;
}

.people_list{
	width: 850px;
	margin: 0 auto;
	display: flex;
}

.man{
	width: calc(100% / 3);
	background-color: #f4f4f4;
	margin: 0 5px;
}

.people_list div:first-child{
	margin-left:0; 
}

.people_list div:last-child{
	margin-right: 0;
}

.man_photo{
	width: 100%;
}

.man div:nth-child(1){
	padding: 0;
}
.man div{
	padding: 0 15px;
}


.man_photo img{
	width: 100%;
	height: auto;
}

.man_position{
	color:#d4af37;
	text-transform: uppercase;
	font-family: 'Open Sans Semibold';
	margin: 10px 0;
}

.man_name{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 1.5em;
	margin: 5px 0;
	color: #4d5c66;
}

.man_about{
	font-family: 'Open Sans Light';
	color: #4d5c66;
	margin-bottom: 40px;
}
