.people{
	margin-bottom: 120px;
}

.people_list{
	display: flex;
}

.man{
	width: calc(100% / 3);
	background-color: #f4f4f4;
	margin: 0 5px;
}

.people_list .man:first-child{
	margin-left:0; 
}

.people_list .man:last-child{
	margin-right: 0;
}

.man_photo{
	width: 100%;
}

.man div:nth-child(1){
	padding: 0;
}
.man div{
	padding: 0 15px;
}


.man_photo img{
	width: 100%;
	height: auto;
}

.man_position{
	color:#d4af37;
	text-transform: uppercase;
	font-family: 'Open Sans Semibold';
	margin: 10px 0;
}

.man_name{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 1.5em;
	margin: 5px 0;
	color: #4d5c66;
}

.man_about{
	font-family: 'Open Sans Light';
	color: #4d5c66;
	margin-bottom: 40px;
}

@media(max-width:650px){
	.people_list{
		display: block;
	}
	.man{
		width: 100%;
		margin: 0;
	}
	.people_list .man:first-child{
		margin: 0; 
	}

	.people_list .man:last-child{
		margin: 0;
	}
	.man_position{
		font-size: 2em;
	}
	.man_name{
		font-size: 3em;
	}
	div.man_about{
		font-size: 2em;
		padding: 20px 15px;
	}

}
