.wrapper{
	text-align: center;
	width: 790px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}

.topic{
	color:#dfc368;
	text-transform: uppercase;
	font-family: 'Open Sans Semibold';
}

.subtopic{
	color: #4d5c66;
	font-size: 2.86em;
	font-family: 'Open Sans Semibold';
	letter-spacing: 1px;
}

.text{
	font-family: 'Open Sans Light';
	margin-top: 35px;
	color:#4d5c66;
}


@media(min-width: 1920px){
	.wrapper{
		width: 1200px
	}

	.text{
		font-size: 1.5em;
	}
}