.wrapper{
	text-align: center;
	width: 850px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 50px;
}

.topic{
	color:#dfc368;
	text-transform: uppercase;
	font-family: 'Rubik';
}

.subtopic{
	color: #4d5c66;
	font-size: 2.86em;
	font-family: 'Rubik';
	letter-spacing: 1px;
	margin-top: 10px;
}

.text{
	font-family: 'Open Sans Light';
	margin-top: 35px;
	color:#4d5c66;
	font-size: 1.5em;
	line-height:1.5em;
}


@media(min-width: 1920px){
	.wrapper{
		width: 1200px
	}

	.text{
		font-size: 2em;
	}

	.subtopic{
	font-size: 3.5em;
	}

	.topic{
		font-size: 1.5em;
	}
}