.services{
	display: flex;
}

.services_img{
	width: 50%;
}

.services_img img{
	width: 100%;
	height: auto;
}

.services_info{
	padding: 40px;
	width: 50%;
}

.topic{
	font-size: 2.5em;
	color: #4d5c66;
	font-weight: 600;
	font-family: 'Open Sans';
	margin-bottom: 90px;
}

.services_text{
	display: flex;
}

.text1{
	width: 50%;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 1.5em;
	color: #4d5c66;
	font-family: 'Open Sans';
}

.text2{
	width: 50%;
	margin:0;
}

.text2 li{
	font-size: 1.3em;
	color: #4d5c66;
	font-family: 'Open Sans';
	list-style-type: '-  ';
}

@media(max-width:1200px){
	.services{
		display: block;
	}
	.services_img{
		width: 100%;
	}
	.services_info{
		width: 100%;
	}
	.topic{
		font-size: 3em;
	}
	.text1{
		font-size: 1.7em;
	}
	.text2{
		font-size: 1.5em;
	}
}

@media(max-width: 650px){
	.text1{
		font-size: 2em;
	}
}

@media(max-width: 450px){
	.services_text{
		display: block;
	}
	.text1{
		width: 100%;
	}
	.text2{
		margin-top: 20px;
		width: 100%;
	}
}