.services{
	display: flex;
}

.services_img{
	width: 50%;
}

.services_img img{
	width: 100%;
	height: auto;
}

.services_info{
	padding: 40px;
	width: 50%;
}

.topic{
	font-size: 2.5em;
	color: #4d5c66;
	font-weight: 600;
	font-family: 'Open Sans';
	margin-bottom: 90px;
}

.services_text{
	display: flex;
}

.text1{
	width: 50%;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 20px;
	color: #4d5c66;
	font-family: 'Open Sans';
}

.text2{
	width: 50%;
	margin:0;
}

.text2 li{
	font-size: 1.3em;
	color: #4d5c66;
	font-family: 'Open Sans';
	list-style-type: '-  ';
}
