.header_img{
	width: 100%;
	height: auto;
}

.header_img img{
	width: 100%;
	height: 100%;
}

.header_menu{
	width: 100%;
	position: absolute;
	top:0px;
	z-index: 100;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.logo{
	margin-left: 50px;
	margin-top: 10px;
}

.menu_burger{
	margin-right: 50px;
	display: flex;
	cursor: pointer;
	padding:20px;
}

.menu_burger span{
	text-transform: uppercase;
	color:white;
	font-size: 1.5em;
	margin-right: 5px;
}

.burger{
	width: 30px;
	height: 4px;
	background-color: white;
	display: block;
	align-self: center;
	margin: 10px 0;
}

.burger:after, .burger:before{
	content: '';
	width: 30px;
	height: 4px;
	background-color: white;
	position: relative;
	display: block;
}
.burger:after{
	top:5px;
}

.burger:before{
	bottom:10px;
}

.header_main_text{
	width: 100%;
	position: absolute;
	top:35%;
	z-index: 90;
	color:white;
	font-size: 3.5em;
	text-align: center;
}

.header_main_text h1{
	font-family: 'Open Sans Light';
	font-weight: 500;
}

.header_main_text span{
	font-family: 'Calibri Light';
	font-style:italic;
}


@media(max-width: 1500px){
	.header_main_text{
		top:25%;
		font-size: 2em;
	}
}

@media(max-width: 1100px){
	.header_main_text{
		top:15%;
	}
}

@media(max-width: 900px){
	.header_main_text{
		top:15%;
	}
}

@media(max-width:650px){
	.header_main_text{
		top:40%;
		font-size: 3.5em;
	}
	.header_menu{
		background-color: rgba(37,48,54,0.4);
	}
	.menu_burger{
		background-color: rgba(37,48,54,0.9);
		margin-right: 0;
		margin-top: 0;
	}
	.menu_burger span{
		display: none;
	}
	.logo{
		margin-top: 0;
	}
}





