.header_img{
	width: 100%;
	height: auto;
}

.header_img img{
	width: 100%;
	height: 100%;
}

.header_menu{
	width: 100%;
	position: absolute;
	top:0px;
	z-index: 100;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.logo{
	margin-left: 50px;
	margin-top: 15px;
}

.menu_burger{
	margin-right: 50px;
	margin-top: 15px;
	display: flex;
}

.menu_burger span{
	text-transform: uppercase;
	color:white;
	font-size: 1.5em;
	margin-right: 5px;
}

.burger{
	width: 30px;
	height: 4px;
	background-color: white;
	display: block;
	align-self: center;
	margin: 10px 0;
}

.burger:after, .burger:before{
	content: '';
	width: 30px;
	height: 4px;
	background-color: white;
	position: relative;
	display: block;
}
.burger:after{
	top:5px;
}

.burger:before{
	bottom:10px;
}

.header_main_text{
	width: 100%;
	position: absolute;
	top:35%;
	z-index: 100;
	color:white;
	font-size: 3.5em;
	text-align: center;
}

.header_main_text h1{
	font-family: 'Open Sans Light';
	font-weight: 500;
}

.header_main_text span{
	font-family: 'Open Sans Light Italic';
}


@media(max-width: 1500px){
	.header_main_text{
		top:25%;
		font-size: 2em;
	}
}




