footer{
	background-color: #eeeeee;
	padding: 30px 0;
	color:#4d5c66;
	font-family: 'Calibri Light';
	font-weight: 600;
	margin-top: 30px;
}

footer div{
	display: flex;
	justify-content: space-between;
}