*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.conteiner{
	width: 850px;
	margin: 0 auto;
}

.common_button{
  width: 100%;
  height: 50px;
  text-align: center;
}

.common_button button{
  padding: 10px 40px;
  background-color: white;
  border:2px solid #4d5c66;
  border-radius: 1em;
  font-family:'Rubik';
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: .2s;
}

.common_button button:hover{
  font-size: 1.2em;
  transition: .2s;
}